name: Converter CI

on:
  push:
    paths:
      - "converter/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: "22"
          distribution: "graalvm"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with Gradle
        working-directory: converter
        run: ./gradlew clean nativeCompile
